/* Define grid for smaller section */

.container{
    display: grid;
    grid-template-columns: 1, fr ;
    grid-template-rows: 5;
    grid-template-areas: 
        "header"
        "img"
        "what-we-do"
        "map"
        "experience";
}
        .header { 
            grid-area: header; 
          }
        
        .img { 
            grid-area: img; 
            margin: 0 auto;
      }
        
        .what-we-do { 
            grid-area: what-we-do; 
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
      }
        
        .map { 
            grid-area: map; 
            min-width: 100%;
      }
        .experience { 
              grid-area: experience; 
          }   

        .heading {
            padding-right: 20px;
            padding-left: 20px;
            padding-top: 200px;
            padding-bottom: 200px;
            border-left: ridge lightblue 3px;
            border-bottom: ridge lightblue 3px;
            border-top: ridge lightblue 3px;
        }


/* ___________________________________________________________ */
/* make standard adjustments */

.header {
    text-align: center;
    justify-content: center;
    background-color: rgb(146, 190, 225);
    color: darkblue;
    justify-content: center;
    padding: 10px;
}

.header:hover {
    border: ridge rgb(130, 130, 209) 2px;
}

.title {
    text-decoration: underline;
}

h1{
    font-weight: bolder;
}

.h1 {
    border-bottom: solid black 2px;
}

h2{
    font-style: italic;
}

.h2 {
    border-bottom: solid black 2px;
    /* padding-bottom: 36px; */
}
.texas {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: right; */
}
.map {
    margin: 0 auto;
    background-color: #F8F8F8;
    object-fit: cover;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-bottom: ;
    /* justify-content: center;
    align-items: center;
    border: black solid 3px; */
}

.experience {
    display: grid;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #F8F8F8;
}

/* ___________________________________________________________ */
/* Make mobile interface  820 px to 100px*/
@media (min-width:819px) {

    .container{
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 3;
        grid-template-areas: 
        "header"
        "img"
        "what-we-do"
        "map"
        "experience";
    }

    .heading {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

/* ___________________________________________________________ */
/* Make mobile interface */
@media (min-width:1000px) {

    .container{
        display: grid;
        grid-template-columns: repeat(2, 1fr) ;
        grid-template-rows: 3;
        grid-template-areas: 
            "header header"
            "experience map"
            "img what-we-do";
    }

.h2 {
    border-bottom: none;
}

.img {
    padding-right: 10px;
}

.heading {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
    border-left: ridge lightblue 3px;
    border-bottom: ridge lightblue 3px;
    border-top: ridge lightblue 3px;
}

}



/* ___________________________________________________________ */
 /*Re-define the grid layouts for the desktop version and make required edits  */
/* @media (min-width: 970px) {
    .container {  display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-auto-flow: row;
        grid-template-areas:
          "header header header"
          "img img img"
          "img img img"
          "what-we-do what-we-do what-we-do"
          "what-we-do what-we-do what-we-do"
          "location location map"
          "location location map"
          "experience experience experience"
          "experience experience experience";
      }
      
      .header { 
          grid-area: header; 
        }
      
      .img { 
          grid-area: img; 
    }
      
      .what-we-do { 
          grid-area: what-we-do; 
    }
      
      .location { 
          grid-area: location; 
        }
      
      .map { 
          grid-area: map; 
    }
      .experience { 
            grid-area: experience; 
        }   

      .header,.img,.what-we-do,.location,.map,.experience{
          margin: 0 auto;
    }  
} */


    