.container {  display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Profile-Pic"
      "Contact-Info Profile Profile"
      "Skills Experience Experience"
      "Skills Experience Experience"
      "Education Experience Experience"
      "Education Experience Experience";
  }
  
  .Header { grid-area: Header; }
  
  .Profile-Pic { grid-area: Profile-Pic; }
  
  .Contact-Info { grid-area: Contact-Info; }
  
  .Profile { grid-area: Profile; }
  
  .Skills { grid-area: Skills; }
  
  .Education { grid-area: Education; }
  
  .Experience { grid-area: Experience; }
  
  
  html, body , .container {
    height: 100%;
    margin: 0;
  }
  
  /* For presentation only, no need to copy the code below */
  
  .container * {
    border: 1px solid red;
    position: relative;
  }
  
  .container *:after {
    content:attr(class);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: center;
  }
  
  