

.container {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1.1fr .0fr .1fr 0.0fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". Header Header Profile-Pic ."
      ". Contact-Info Profile Profile ."
      ". Skills Experience Experience ."
      ". Skills Experience Experience ."
      ". Education Experience Experience ."
      ". Education Experience Experience .";
  }

  /* .container * {
    border: 1px solid red;
    position: relative;
  }  */

h1 {
    font-weight: bolder;
    text-decoration:overline;
    font-family: Arial, Helvetica, sans-serif;
}

h2 {
    position: relative;
    width: auto;
    text-decoration: overline;
}

h3{
    font-weight: bolder;
    text-decoration: underline;
    font-family: Arial, Helvetica, sans-serif;
}

h4{
    font-family: Arial, Helvetica, sans-serif;
    font-style: bold;
    text-decoration:wavy;
}

p{
    font-family: Arial, Helvetica, sans-serif;
}


  .Header { 
    display: grid;
    grid-area: Header; 
    background-color: beige ;
    padding-left: 40px;
    font-size: 30pt;
    border-bottom: ridge beige 3px;
    border-left: ridge black 3px;
    border-top: solid black 3px;
}

.subheading {
    font-size: larger;
    font-style: italic;
    text-decoration: overline;
    text-decoration: underline;
}
  
  .Profile-Pic { 
      grid-area: Profile-Pic; 
      place-items: center;
      background-color: beige ;
      padding-left: 100px;
      padding-right: 100px;
      padding-top: 20px;
      border-bottom: ridge beige 3px;
      border-top: solid black 3px;
      border-right: solid black 3px;
    }
  
  .Contact-Info { 
      grid-area: Contact-Info; 
      border-right: ridge beige 3px;
      padding: 10px;
      height: 190px;
      background-color: beige;
      border-bottom: ridge beige 3px;
      border-left: solid black 3px;
      padding-top: 20px;
      font-weight: bold;
      overflow: auto;
    }
  
  .Profile { 
      grid-area: Profile; 
      padding: 10px;
      height: 200px;
      border-bottom: ridge beige 3px;
      border-right: solid black 3px;
      overflow: auto;
    }
  
  .Skills { 
      grid-area: Skills; 
      border-right: ridge beige 3px;
      padding: 10px;
      height: 250px;
      background-color: beige;
      border-left: solid black 3px;
      overflow: auto;
    }
  
  .Education { 
      grid-area: Education; 
      border-right: ridge beige 3px;
      border-bottom: solid black 3px;
      padding: 10px;
      height: 298px;
      background-color: beige;
      border-left: solid black 3px;
      overflow: auto;
    }
  
  .Experience { 
      grid-area: Experience; 
      border-right: solid black 3pt;
      border-bottom: solid black 3px;
      padding: 10px;
      height: 568px;
      overflow: auto;
    }

.location {
    font-style: italic;
}

.date {
    font-style: italic;
    font-weight: bold; 
    font-size: 10pt;
}

.picture {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    place-items: center;
    box-shadow: 50px 25px rgba(0, 0, 0, 0.4);
}
